@import "tailwindcss";

@source "../views/";
@source "../../app/";

@theme {
    /* Ajoute une couleur personnalisée : génère text-brand, bg-brand, etc. */
    --color-brand: #38bdf8;
    --color-dark-bg: #0f172a;

    /* Change la police mono par défaut */
    --font-mono: "Fira Code", monospace;

    /* Ajoute un breakpoint personnalisé */
    --breakpoint-3xl: 1920px;
}